html{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body{
    color: white;
    background-image: url("../images/bg.jpg");
    background-repeat: repeat;
    
}
.container{
    margin: 0 auto;
    width: 80%;
}
#left-side{
    
    width: 30%;
    float: left;
}

#left-side .profil-picture{
    float: left;
    width: 30%;
    
}
#left-side .profil-picture  img{
    width: 100%;
}
#left-side .profil-info{
    float: right;
    width: 65%;
}
#left-side .profil-info h2{
    cursor: pointer;
    
}
#left-side .profil-info #nickname{
    font-family: 'Inria Serif', serif; 
}
#left-side .profil-info .popularity h2{
    display:inline-block;
    cursor: pointer;
    transition-duration: 0.3s;
}
#left-side .profil-info .popularity h2:last-child{
    margin-left: 0.4rem;
}
#left-side .profil-info .popularity h2:hover{
    color: red;
}
#left-side #left-bottom{
    
    margin-top: 250px;
    
}
#left-side #left-bottom h1{
    text-align: center;
    font-family: 'Courier Prime', monospace;
}
#left-side #left-bottom ul{
    padding: 1rem;
    list-style-type: none;
}
#left-side #left-bottom li{
    margin-top: 40px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
}
#left-side #left-bottom li:hover{
    color: red;
    

}
#right-side{
    
    width: 65%;
    float: right;
}

#right-side #tweet{
    width: 99%;
    resize: none;
    height: 20rem;
}
#right-side input[type="submit"]{
    display: inline-block;
    float: right;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.6rem;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-top: 1rem;
}

#right-side input[type="submit"]:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
#right-side input[type="submit"]:active {
	position:relative;
	top:1px;
}

#tweetlength{
    font-size: 2rem;
}
.tweets{
    border: 1px solid white;
    width: 100%;
    height: 32rem;
    margin-top: 4%;
    background-color: #fff;
    opacity: 97%;
    border-radius: 1rem;
}
.thead{
width: 100%;
 
}
.tinfo{
    width: 50%;
    border-radius: 1rem;
    height: 10rem;
    float: left;
    margin-left: 2%;

}
.tinfo img{
    width: 7.5rem;
    height: 7.5rem;
    cursor: pointer;
    margin-top: 1%;
    float: left;
    width: 20%;
    
}
.userinfo{
    color: black;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align:left;
    width: 80%;
}
.tdate{
    width: 40%;
    height: 10rem;
    border-radius: 1rem;
    margin-right: 2%;
    float: right;
    color: black;
    font-size: 1.6rem;
    text-align-last: right;
}
.tcontent{
    color: black;
    font-size: 1.8rem;
    margin-top: 4%;
    margin-left: 1rem;
    float: left;
    width: 100%;
    word-spacing: 0.8rem;
}

.emoji span{
    
    color: gray;
    margin-top: 2rem;
    cursor: pointer;
    margin-left: 3%;
    transition-duration: 0.3s;
}
.emoji span:first-child{
 margin-left: 2%;   
}
.fa-heart:hover{
    color: red;
}
.fa-thumbs-up:hover{
    color:  #3b5998;
}
.fa-retweet:hover{
    color: limegreen;
}
#delete{
    margin-top: 3rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    width: 20rem;
    border:1px solid white;
    transition-duration: 0.3s;
}
#delete:hover{
    border:1px solid blue;
}
